<% provide(:title, 'Contact') %>
<div class="container">
  <div class="page-header">
    <h1>Contact</h1>
  </div>
  <p class="text-center">
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="http://www.railstutorial.org/#contact">contact page</a>.
  </p>
</div>
