<footer class="footer">
  <div class="container">
    <div class="text-muted text-left col-sm-6">FOOTER</div>
    <div class="text-muted text-right col-sm-6">La Mantia Jordan - Ruby App</div>
  </div>
</footer>